[submodule "FoxxoEngine/vendor/spdlog"]
	path = FoxxoEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "FoxxoEngine/vendor/GLFW"]
	path = FoxxoEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "FoxxoEngine/vendor/imgui"]
	path = FoxxoEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "FoxxoEngine/vendor/glm"]
	path = FoxxoEngine/vendor/glm
	url = https://github.com/g-truc/glm/
